html {
  color: white;
  background-image: linear-gradient(black 0%, rgb(30, 43, 49) 70%, rgb(13, 23, 31) 100%);

}

.Intro {
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  /* background-image: linear-gradient(black 0%, skyblue 100%); */
  color: white;
  display: grid;
  grid-template-rows: 40% 60%;
  grid-template-columns: 10% 40% 40%;
}

#Home div:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
}

#Home div:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}

#Home div:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 3;
}

#token-name {
  /* margin-left: auto;
  margin-right: auto; */
  text-align: left;
}

#token-motto {
  text-align: left;
}

h1 {
  font-size: 70px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  color:white
}

#IntroLogo {
  margin-top: -35px;
  width: 400px;
}

h2 {
  font-size: 40px;
  color: white;
}

#button-div {
  align-items: center;
  padding: 10px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
}

.Button {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 15px;
  border-radius: 15px;
  height: 50px;
  width: 200px;
  background: rgb(10, 140, 192);
  /* background: white; */
  font-style: bold;
  border-style: none;
}

#telegram {
  /* color: white; */
  width: 5px;
}

#Features {
  margin-top: 200px;
  display: grid;
  grid-template-rows: 25% 50%;
  grid-template-columns: 50% 50%;
  column-gap: 50px;
  /* padding: 50px; */
}

#Features div:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
}

#Features h2:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
  text-align: left;
}

#Features p:nth-child(3) {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  text-align: left;
  padding-right: 100px;
  white-space: pre-line;
}

#FeaturesLogo {
  width: 600px;
}

#Tokenomics {
  margin-top: -50px;
  display: grid;
  text-align: center;
  justify-content: center;
}

.bar {
  background: rgb(10, 140, 192);
  width: 500px;
  border-radius: 15px;
  color: white;
}

.BarP {
  text-align: left;
}

#redis-buy {
  background: linear-gradient(to right, white 0%, white 2%, rgb(10, 140, 192) 2%, rgb(10, 140, 192) 100%);
}

#devmarket-buy {
  background: linear-gradient(to right, white 0%, white 8%, rgb(10, 140, 192) 8%, rgb(10, 140, 192) 100%);
}

#redis-sell {
  background: linear-gradient(to right, white 0%, white 2%, rgb(10, 140, 192) 2%, rgb(10, 140, 192) 100%);
}

#devmarket-sell {
  background: linear-gradient(to right, white 0%, white 10%, rgb(10, 140, 192) 10%, rgb(10, 140, 192) 100%);
}

#Roadmap {
  margin-top: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 50% 50%;
  grid-template-columns: 33% 33% 33%;
  padding-top: 50px;
}

#Roadmap h2:nth-child(1){
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}

.roadmap-h3 {
  padding-left: 22px;
  text-decoration: underline;
}

.roadmap-div {
  text-align: left;
}

#Info {
  margin-bottom: 220px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 50% 50%;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 5%;
  column-gap: 5%;
  width: 80%;
}

#Info h2:nth-child(1){
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-left: 9%;
}

.info-div {
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  background: rgb(3, 46, 63);
  /* color: rgb(16, 165, 224); */
  height: 120%;
  width: 110%;
  border-radius: 20px;
}

#FairLaunchLogo {
  width: 141px;
}

#LiquidityLockedLogo {
  width: 100px;
}

#AntiSniperLogo {
  width: 140px;
}

#AntiWhaleLogo {
  width: 140px;
}