.Intro {
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  background-image: linear-gradient(black 0%, skyblue 100%);
  color: white;
  display: grid;
  grid-template-rows: 40% 60%;
  grid-template-columns: 10% 40% 40%;
}

#home div:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
}

#home div:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}

#home div:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 3;
}

#token-name {
  /* margin-left: auto;
  margin-right: auto; */
  text-align: left;
}

#token-motto {
  text-align: left;
}

h1 {
  font-size: 70px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  color:white
}

#ContentLogo {
  margin-top: -35px;
  width: 400px;
}

h2 {
  font-size: 40px;
  color: white;
}

#button-div {
  margin-left: 64px;
  margin-right: 32px;
  align-items: center;
  padding: 10px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 20px;
}

.Button {
  font-size: 20px;
  border-radius: 15px;
  height: 50px;
  width: 200px;
}

#button-1 {
  background: darkblue;
}

#button-2 {
  background: slateblue;
}

#button-3 {
  background: skyblue;
}

#credits {
  margin-block-start: -0.5em;
  padding-bottom: 0.1px;
  font-size: 20px;
}
