.Header {
    display: grid;
    text-align: center;
    background: black;
    padding-bottom: 10px;
  }

  #Header img:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  #Header div:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  
  #HeaderLogo {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 15%;
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .nav-links {
    font-size: 20px;
    text-align: center;
    margin: 0px auto 0px auto;
    color: white;
    text-decoration: none;
  }
